* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Karla', sans-serif;
}

.header {
	display: flex;
	align-items: center;
	height: 65px;
	background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
	color: white;
	padding: 20px;
}

.header--image {
	height: 100%;
	margin-right: 6px;
}

.header--title {
	font-size: 1.25rem;
	margin-right: auto;
}

.header--project {
	font-size: 0.75rem;
	font-weight: 500;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #165e8f;
	height: 500px;
}

.first-input {
	width: 230px;
	height: 35px;
	top: 101px;
	left: 36px;
	border-radius: 5px;
	border: 1px solid #d5d4d8;
}

.second-input {
	width: 230px;
	height: 35px;
	top: 101px;
	left: 283px;
	border-radius: 5px;
	border: 1px solid #d5d4d8;
}

.button {
	width: 477px;
	height: 40px;
	top: 151px;
	left: 36px;
	border-radius: 5px;
	background-image: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
}
